*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-direction: column; */
    background-color: #000000;
   height: 100vh;
   width: 100vw;
}
a{  
    position: relative;
    letter-spacing: 6px;
    text-decoration: none;
    padding: 12px 20px;
    margin: 30px;
    color: #fff;
    background-color: brown;
    border: 1px solid #130f36;
    overflow: hidden;
}

a:nth-child(1):hover{
   background-color: #4d3856;
}

a:nth-child(2):hover{
    background-color: yellowgreen;
 }
/* 遮罩而已 */
 a::before{
     content:'';
     position: absolute; 
     top: 0;
     left: 0;
     width: 50%;
     height: 100%;
     background-image: linear-gradient(60deg,transparent,transparent,#FFf,transparent,transparent);
     transition: left 0.5s;
     /* overflow: hidden; */
    }

 a:hover::before{
   left:100%
 }